@model IEnumerable<AutoPartsShop.Models.ServiceBooking>

<div class="container">
    <h1 class="text-center mt-4">Записи на услуги</h1>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Услуга</th>
                <th>Пользователь</th>
                <th>Телефон</th>
                <th>Дата</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Service.Name</td>
                    <td>@booking.FullName</td>
                    <td>@booking.PhoneNumber</td>
                    <td>@booking.BookingDate</td>
                    <td>
                        <a href="@Url.Action("EditBooking", new { id = booking.BookingId })" class="btn btn-warning btn-sm">Редактировать</a>
                        <a href="@Url.Action("DeleteBooking", new { id = booking.BookingId })" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>